doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Firebase RealTime Chat
  link(rel='stylesheet' href='./css/index.css')
header
  h2 Firebase RealTime Chat
#chat
  // messages will display here
  ul#messages
  // form to send message
  form#message-form
    input#message-input(type='text')
    button#message-btn(type='submit') Send
// scripts
script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js')
script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js')
script(src='./js/scripts.js')