doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Firebase RealTime Chat
  link(rel='stylesheet' href='./css/index.css')
header
  h2 Firebase RealTime Chat
#chat
  // messages will display here
  ul#messages
  // form to send message
  form#message-form
    input#message-input(type='text')
    button#message-btn(type='submit') Send
// scripts
//- script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js')
//- script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js')
//- script(src='https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js')
script(src='./js/scripts.js')
script.
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  // initialize database
  const db = firebase.database();
  // get user's data
  const username = prompt("Please Tell Us Your Name");
  // submit form
  // listen for submit event on the form and call the postChat function
  document.getElementById("message-form").addEventListener("submit", sendMessage);
  // send message to db
  function sendMessage(e) {
  e.preventDefault();
  // get values to be submitted
  const timestamp = Date.now();
  const messageInput = document.getElementById("message-input");
  const message = messageInput.value;
  // clear the input box
  messageInput.value = "";
  //auto scroll to bottom
  document
  .getElementById("messages")
  .scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
  // create db collection and send in the data
  db.ref("messages/" + timestamp).set({
  username,
  message,
  });
  }
  // display the messages
  // reference the collection created earlier
  const fetchChat = db.ref("messages/");
  // check for new messages using the onChildAdded event listener
  fetchChat.on("child_added", function (snapshot) {
  const messages = snapshot.val();
  const message = `<li class=${username === messages.username ? "sent" : "receive"
  }><span>${messages.username}: </span>${messages.message}</li>`;
  // append the message on the page
  document.getElementById("messages").innerHTML += message;
  });
