head
  meta(charset='utf-8')
  title Admin Chat
  // Custom CSS
  link(href='plugins/bower_components/chartist/dist/chartist.min.css' rel='stylesheet')
  link(rel='stylesheet' href='plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css')
  // Custom CSS
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='stylesheet' href='css/styleAdmin.css')
  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    
// ==============================================================
// ==============================================================
.preloader
  .lds-ripple
    .lds-pos
    .lds-pos
// ==============================================================
// Main wrapper - style you can find in pages.scss
// ==============================================================
#main-wrapper(data-layout='vertical' data-navbarbg='skin5' data-sidebartype='full' data-sidebar-position='absolute' data-header-position='absolute' data-boxed-layout='full')
  // ==============================================================
  // Topbar header - style you can find in pages.scss
  // ==============================================================
  header.topbar(data-navbarbg='skin5')
    nav.navbar.top-navbar.navbar-expand-md.navbar-dark
      .navbar-header(data-logobg='skin6')
        // ==============================================================
        // toggle and nav items
        // ==============================================================
        a.nav-toggler.waves-effect.waves-light.text-dark.d-block.d-md-none(href='javascript:void(0)')
          i.ti-menu.ti-close
      // ==============================================================
      // End Logo
      // ==============================================================
      #navbarSupportedContent.navbar-collapse.collapse(data-navbarbg='skin5')
        // ==============================================================
        // Right side toggle and nav items
        // ==============================================================
        ul.navbar-nav.ms-auto.d-flex.align-items-center
          // ==============================================================
          // Search
          // ==============================================================
          li.in
            form.app-search.d-none.d-md-block.me-3(role='search')
              input.form-control.mt-0(type='text' placeholder='Search...')
              a.active(href='')
                i.fa.fa-search
  // ==============================================================
  // End Topbar header
  // ==============================================================
  // ==============================================================
  // Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  aside.left-sidebar(data-sidebarbg='skin6')
    // Sidebar scroll
    .scroll-sidebar
      // Sidebar navigation
      nav.sidebar-nav
        ul#sidebarnav
          // User Profile
          li.sidebar-item.pt-2
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='' aria-expanded='false')
              i.far.fa-clock(aria-hidden='true')
              span.hide-menu Dashboard
          li.sidebar-item
            a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='' aria-expanded='false')
              i.fa.fa-user(aria-hidden='true')
              span.hide-menu Account
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/books') All books
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/authors') All authors
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/genres') All genres
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/bookinstances') All book-instances
              li.sidebar-item
                hr
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/author/create') Create new author
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/genre/create') Create new genre
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/book/create') Create new book
              li.sidebar-item
                a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/catalog/bookinstance/create') Create new book instance (copy)
            li.sidebar-item
              form(method='GET' action="/logout-admin")
                button.btn.btn-danger.text-white.logout-button
                  | Logout
      // End Sidebar navigation
    // End Sidebar scroll
  // ==============================================================
  // End Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  // ==============================================================
  // Page wrapper
  // ==============================================================
  .page-wrapper
    // ==============================================================
    // Bread crumb and right sidebar toggle
    // ==============================================================
    .page-breadcrumb.bg-white
      .row.align-items-center
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Dashboard
      // /.col-lg-12
    // ==============================================================
    // End Bread crumb and right sidebar toggle
    // ==============================================================
    // ==============================================================
    // Container fluid
    // ==============================================================
    .container-fluid
      // ==============================================================
      // Three charts
      // ==============================================================
      .row.justify-content-center
        .col-lg-4.col-md-12
          .white-box.analytics-info
            h3.box-title Total Author
            ul.list-inline.two-part.d-flex.align-items-center.mb-0
              li
                #sparklinedash
                  canvas(width='67' height='30' style='\
                  display: inline-block;\
                  width: 67px;\
                  height: 30px;\
                  vertical-align: top;\
                  ')
              li.ms-auto
                span.counter.text-success !{data.book_count}
        .col-lg-4.col-md-12
          .white-box.analytics-info
            h3.box-title Total Book
            ul.list-inline.two-part.d-flex.align-items-center.mb-0
              li
                #sparklinedash2
                  canvas(width='67' height='30' style='\
                  display: inline-block;\
                  width: 67px;\
                  height: 30px;\
                  vertical-align: top;\
                  ')
              li.ms-auto
                span.counter.text-purple !{data.author_count}
        .col-lg-4.col-md-12
          .white-box.analytics-info
            h3.box-title Genres
            ul.list-inline.two-part.d-flex.align-items-center.mb-0
              li
                #sparklinedash3
                  canvas(width='67' height='30' style='\
                  display: inline-block;\
                  width: 67px;\
                  height: 30px;\
                  vertical-align: top;\
                  ')
              li.ms-auto
                span.counter.text-info !{data.genre_count}
      // ==============================================================
      // PRODUCTS YEARLY SALES
      // ==============================================================
      .row
        .col-md-12.col-lg-12.col-sm-12.col-xs-12
          .white-box
            h3.box-title Month Report 
            .d-md-flex
            #ct-visits(style='height: 405px')
              .chartist-tooltip(style='top: -17px; left: -12px')
                span.chartist-tooltip-value 6
    // ==============================================================
    // End Container fluid
    // ==============================================================
  // ==============================================================
  // End Page wrapper
  // ==============================================================
// ==============================================================
// End Wrapper
// ==============================================================
// ==============================================================
// All Jquery
// ==============================================================
script(src='plugins/bower_components/jquery/dist/jquery.min.js')

script(src='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')
// Wave Effects
script(src='js/waves.js')
// Menu sidebar
script(src='js/sidebarmenu.js')
// Custom JavaScript
script(src='js/custom.js')
// This page JavaScript
// chartis chart
script(src='plugins/bower_components/chartist/dist/chartist.min.js')
script(src='plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')
script(src='js/pages/dashboards/dashboard1.js')
