// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container.px-5
    a.navbar-brand(href='/') Cool Team Store
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/') Home
        if (!user)
          li.nav-item
            a.nav-link(href='/login') Login
          li.nav-item
            a.nav-link(href='/register') Register
        if (user)
          p You are currently logged in as #{user.email}
          a(href="/logout") Logout You are currently logged in as #{user.email}
